$darkShades: (
  'black-bis': $white-bis,
  'black-ter': $white-ter,
  'grey-darker': $grey-lighter,
  'grey-dark': $grey-light,
  'grey': $grey,
  'grey-light': $grey-dark,
  'grey-lighter': $grey-darker,
  'white-ter': $black-ter,
  'white-bis': $black-bis,
) !default;

@media (prefers-color-scheme: dark) {
  body {
    background-color: $grey-darkest;
    color: #efefef;
  }

  .input,
  .input:active,
  .input:focus {
    background-color: black;
  }

  .input:active,
  .input:focus,
  .input:hover {
    border-color: $yellow-300;
    box-shadow: 0 0 0 0.125em rgba(251, 217, 94, 0.25);
  }

  .title {
    color: white;
  }

  .title > a {
    color: inherit;
  }

  .link,
  a,
  .breadcrumb a,
  .li.is-active a {
    color: yellow;
  }

  .ui-wizard {
    background-color: lighten($grey-darkest, 10);
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 2);
    .has-text-#{$name} {
      color: $color !important;
    }

    a.has-text-#{$name} {
      &:hover,
      &:focus {
        color: darken($color, 10%) !important;
      }
    }
  }

  @each $name, $shade in $darkShades {
    .has-text-#{$name} {
      color: $shade !important;
    }
  }
}
