$darkShades: (
  'black-bis': $white-bis,
  'black-ter': $white-ter,
  'grey-darker': $grey-lighter,
  'grey-dark': $grey-light,
  'grey': $grey,
  'grey-light': $grey-dark,
  'grey-lighter': $grey-darker,
  'white-ter': $black-ter,
  'white-bis': $black-bis,
) !default;

@media (prefers-color-scheme: dark) {
  body {
    background-color: $grey-darkest;
    color: #efefef;
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 2);
    .has-text-#{$name} {
      color: $color !important;
    }

    a.has-text-#{$name} {
      &:hover,
      &:focus {
        color: darken($color, 10%) !important;
      }
    }
  }

  @each $name, $shade in $darkShades {
    .has-text-#{$name} {
      color: $shade !important;
    }
  }
}
