.box-radio-container {
  display: flex;
  flex-wrap: wrap;
}
.box-radio-spacing {
  margin: $size-6 $size-3 $size-6 0;
}
.box-radio-base {
  padding: $spacing-xs $spacing-s $spacing-s;
  width: 100%;
  background: $ui-gray-700;
  border-radius: 0 0 $radius $radius;
}
.box-radio-label {
  padding: 0 $spacing-m;
  margin-bottom: $spacing-s;
}
.box-radio {
  box-sizing: border-box;
  flex-basis: 7rem;
  width: 7rem;
  min-height: 7.5rem;
  padding: $size-10 0 0 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-radius: $radius;
  box-shadow: $box-shadow;
  text-align: center;
  color: $grey;
  font-weight: $font-weight-semibold;
  line-height: 1;
  margin: $size-6 $size-3 $size-6 0;
  font-size: 12px;
  transition: box-shadow ease-in-out $speed;
  will-change: box-shadow;
  @media (prefers-color-scheme: dark) {
    background-color: $ui-gray-200;
    // background-image: linear-gradient(to bottom, $ui-gray-500, $ui-gray-800);
    color: $ui-gray-800;
    .has-text-grey-light {
      color: $ui-gray-800 !important;
    }
  }

  &.is-selected {
    box-shadow: 0 0 0 1px $grey-light, $box-shadow-middle;
    @media (prefers-color-scheme: dark) {
      box-shadow: 0 0 0 1px lighten($vault-yellow, 10), $box-shadow-middle;
    }
  }

  &.is-disabled {
    opacity: 0.5;
  }

  input[type='radio'].radio {
    position: absolute;
    z-index: 1;
    opacity: 0;
  }

  input[type='radio'].radio + .box-radio-base label {
    border: 1px solid $grey-light;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    margin: 1rem auto 0;
    height: 1rem;
    width: 1rem;
    flex-shrink: 0;
    flex-grow: 0;
  }

  input[type='radio'].radio:checked + .box-radio-base label {
    background: $blue;
    border: 1px solid $blue;
    box-shadow: inset 0 0 0 0.15rem $white;
    @media (prefers-color-scheme: dark) {
      box-shadow: inset 0 0 0 0.15rem $ui-gray-900;
      border-color: $vault-yellow;
      background: $vault-yellow;
    }
  }
  input[type='radio'].radio:focus + .box-radio-base label {
    // box-shadow: 0 0 10px 1px rgba($blue, 0.4), inset 0 0 0 0.15rem $white;
    @media (prefers-color-scheme: dark) {
      // box-shadow: 0 0 10px 1px rgba($vault-yellow, 0.4), inset 0 0 0 0.15rem $red;
    }
  }
}
